:root {
    --background-color: rgba(0, 0, 0, .55);
    --light-bg-color: rgba(0, 0, 0, .3);
    --font-color: white;
    --outline-color: #3d3f42;
    --health-color: #8ecc51;
}

html, body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: "Roboto";
    overflow: hidden;
}

#game-canvas {
    background-color: #b6db66;
}

#main-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

#loading-text {
    font-size: 22px;
    color: var(--font-color);
    font-weight: 700;
}

#game-name {
    font-size: 78px;
    font-weight: 900;
    color: var(--font-color);
    text-shadow: 0px 5px rgb(172, 172, 172);
}

#menu-inputs {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 300px;
    margin-top: 14px;
    border-radius: 8px;
}

input, button {
    font-family: "Roboto";
    font-weight: 700;
}

#name-input {
    width: calc(100% - 20px);
    border: none;
    outline: none;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: var(--font-color);
    padding: 0px 10px 0px 10px;
    background-color: #cdcdcd;
    text-align: center;
}

.menu-input {
    font-size: 25px;
}

#join-game {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    color: var(--font-color);
    border-radius: 12px;
    background-color: #00ff00;
}

#join-game:hover {
    background-color: #01d401;
}

#game-ui {
    display: none;
}

#health-bar-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: 100%;
}

#health-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 400px;
    height: 50px;
    border: solid;
    border-width: 6px;
    border-radius: 6px;
    border-color: var(--outline-color);
    overflow: hidden;
    background-color: var(--outline-color);
}

#health-display {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--health-color);
}

#heath-text {
    z-index: 12;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#ping-display {
    position: absolute;
    top: 165px;
    right: 10px;
    font-size: 12px;
    font-weight: 900;
    color: white;
}

#xp-bar-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 76px;
    left: 0px;
    width: 100%;
}

#age-display {
    font-weight: 700;
    color: white;
}

#xp-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 400px;
    height: 17px;
    border: solid;
    border-radius: 6px;
    border-width: 6px;
    border-color: var(--outline-color);
    background-color: var(--outline-color);
}

#xp-display {
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: white;
}

#xp-text {
    margin-right: 10px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    text-shadow: 0px 0px 6px black;
    z-index: 123;
}

#chat-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 250px;
    width: 100%;
    pointer-events: none;
}

#chat-box {
    display: none;
    border: none;
    outline: none;
    height: 35px;
    padding: 0px 7px 0 7px;
    color: white;
    font-size: 18px;
    background-color: var(--light-bg-color);
    border-radius: 4px;
}

#chat-box::placeholder {
    color: lightgray;
}

#chat-log {
    position: absolute;
    max-width: 350px;
    max-height: 240px;
    padding: 4px;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 700;
    overflow-y: scroll;
}

#chat-log::-webkit-scrollbar {
    display: none;
}

#minimap {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 3px black;
}

#leaderboard {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 4px;
    padding: 4px;
}

.leaderboard-item {
    max-width: 275px;
    color: white;
    margin-left: 7px;
    font-weight: 700;
}